<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/novo_produto.css">
		<link rel="stylesheet" href="/css/loginCliente.css">
		<title>Admin | Produtos</title>
	</head>
	<body class="container">

		
	
		<%- include("../../components/header.ejs") %>
		
		<main class="container">
		
			<%- include("../../components/navbartexto.ejs") %>
			
			<div class="novoProd">
				<h1>Novo Produto</h1>
			</div>
			
			<form action="/admin/produtos/cadastrar" method="POST">

				<div class="gridNovoProd">
					<div class="primeiraColuna">
			
						<label for="nome_produto">Nome Produto</label>
						<input type="text" class="form-control" name="nome_produto" id="nome_produto">

						<label for="categoria_id" >Categorias</label>
						<select id="categoria_id" name="categoria_id" class="camposselect">
							<option value="1">CAES</option>
							<option value="2">GATOS</option>
							<option value="3">PEIXES</option>
							<option value="4">AVES</option>
							<option value="5">OUTROS PETS</option>
							<option value="6">ACESSORIOS</option>
							</select>

						<label for="preco">Preço</label>
						<input type="number" class="form-control" name="preco" id="preco">

						<label for="imagem_url">Imagem Url</label>
						<input type="text" class="form-control" name="imagem_url" id="imagem_url">
		

		
					</div>
					
					<div class="segundaColuna">


		
								
									<label for="promocao">Promocao</label>
									<select id="promocao" name="promocao" class="camposselect">>
									<option value="NAO">NAO</option>
									<option value="SIM">SIM</option>
									</select>
								
 
									
									<label for="destaque">Destaque</label>
									<select id="destaque" name="destaque" class="camposselect">>
									<option value="NAO">NAO</option>
									<option value="SIM">SIM</option>
									</select>
									

									
									<label for="estoque">Estoque</label>
									<select id="estoque" name="estoque" class="camposselect">>
									<option value="NAO">NAO</option>
									<option value="SIM">SIM</option>
									</select>
									

									
									<label for="ativo">Ativo</label>
									<select id="ativo" name="ativo" class="camposselect">>
									<option value="NAO">NAO</option>
									<option value="SIM">SIM</option>
									</select>
									
					
						
		
					</div>
		
				</div>
				<div class="descricaoProd">
					<label for="descricao">Descrição do Produto</label>
					<textarea name="descricao" id="descricao" rows="5" cols="33"></textarea>
				</div>
				<div class="buttonEnviar">
					<button type="submit">Salvar</button>
				</div>
			</form>


		</main>


	

    <%- include("../../components/footer.ejs") %>

</body>

</html>
	</body>
</html>
