<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/ArtPet&Cia.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="css/areacliente.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Artpet&cia</title>
</head>
<body>
    <%- include("./components/header.ejs") %>
    <main>
     
        <%- include("./components/navbartexto.ejs") %>
     
     <div class="cliente">
        <h2>Olá, nome! o que deseja fazer?</h2>
     </div>
     
    
     <section class="teste">
<div class="btn">
            Alterar dados cadastrais
        </div>

        <div class="btn2">
            Cadastrar um novo endereço
        </div>
        <div class="btn3">
            Consultar pedidos 
        </div>

        <div class="btn4">
            Sair
        </div>


     </section>

        

    </main>
    <%- include("./components/footer.ejs") %>
   

       

    
     

     
</body>
</html>