<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> -->
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->

    <!-- <link rel="stylesheet" href="./assets/css/header_footer.css"> -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/consultar_pedidos.css">
    <title>ArtPet&Cia</title>
</head>
<body>
    <%- include("./components/header.ejs") %>
    <main class="container secao_pedidos">
       <section class="titulo_pedidos">
        <h2>Pedido #</h2>
        <h2>Data</h2>
        <h2>Status</h2>
       </section>
       
       <div class="pedido">
           <section class="detalhe_pedido">
            <span id="pedido_numero">pedido #</span>
            <span id="pedido_data">data</span>
            <span id="pedido_status">status</span>
           </section>
           <button id="btn_detalhe_pedido">Detalhes</button>

       </div>

       <div class="pedido">
        <section class="detalhe_pedido">
         <span id="pedido_numero">pedido #</span>
         <span id="pedido_data">data</span>
         <span id="pedido_status">status</span>
        </section>
        <button id="btn_detalhe_pedido">Detalhes</button>

    </div>

    <div class="pedido">
        <section class="detalhe_pedido">
         <span id="pedido_numero">pedido #</span>
         <span id="pedido_data">data</span>
         <span id="pedido_status">status</span>
        </section>
        <button id="btn_detalhe_pedido">Detalhes</button>

    </div>
        

    <button id="btn_detalhe_pedido_voltar">Voltar</button>
       
    </main>
    <%- include("./components/footer.ejs") %>
</body>

</html>