@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @400;600;700 & display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(157, 190, 185, 1);
    font-family: 'Poppins', sans-serif;;
}

:root {
    font-size: 62.5%; /*equivale a 10px => (2.4rem equivale a 24px)*/
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.nav_texto {
    margin-top: 1rem;
}

.detalhe_produto {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
}

.produto_fotos {
    width: 25%;
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: 0.2rem solid gray;
    border-radius: 0.8rem;
}

.produto_fotos article {
    padding: 1rem;
}

.produto_fotos article img {
    width: 25rem;
    border-radius: 1.2rem;
}

.produto_fotos .miniaturas img {
    width: 7rem;
    margin: 0 0.5rem;
    border-radius: 1.2rem;
}

.produto_detalhes {
    width: 25%;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 0.2rem solid gray;
    border-radius: 0.8rem;
}

.produto_detalhes p {
    font-size: 1.5rem;
}

.produto_detalhes h2 {
    margin: 2rem 0;
}

.produto_detalhes div {
    border: 0.1rem solid gray;
    padding: 0.5rem;
    height: 25rem;
}

.produto_detalhes div p {
    text-align: justify;
}

.produto_preco {
    width: 25%;
    padding: 1rem;
    border: 0.2rem solid gray;
    border-radius: 0.8rem;
}

.produto_preco p {
    font-size: 1.5rem;
}

.opcoes {
    text-align: center;
    margin-bottom: 2rem;
}

.opcoes button {
    border: 0.2rem solid gray;
    border-radius: 0.8rem;
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0 1rem;
}

.preco_qtd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.preco_qtd p {
    font-size: 2rem;
    margin: auto 2rem auto 0;
}

.preco_qtd div {
    display: inherit;
}

.preco_qtd span {
    font-size: 1.5rem;
    border: 0.2rem solid gray;
    border-radius: 0.8rem;
    padding: 0.2rem 1.5rem;
    margin: 0 1rem;
}

.preco_qtd button {
    border-radius: 0.8rem;
    padding: 0 1rem;
    border: 0.2rem solid gray;
}

.adiciona_carrinho {
    text-align: center;
    margin-bottom: 2rem;
}

.adiciona_carrinho button {
    color: white;
    background-color: #798BEB;
    padding: 1rem 4rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;

}

.calcula_frete input {
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 1rem;
    border: 0.2rem solid gray;
    font-size: 1.5rem;
}

.calcula_frete button {
    font-size: 1.5rem;
    background-color: #FF8F28;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}

.produtos {
    margin-bottom: 1rem;
}