@import url('https://fonts.googleapis.com/css2?family= Poppins: wght @400;600;700 & display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(157, 190, 185, 1);
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%; /*equivale a 10px => (2.4rem equivale a 24px)*/
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    cursor:pointer;
    /* color: inherit; */
}

/* img {
    cursor: pointer;
    width: 100px;
} */


header {
    background-color: #FF8882;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;

    position:fixed;
    top:0;
    align-items: center;
}

.logomarca {
    width: 12rem;
    margin-left: 4rem;
}

header div{
    margin: auto 20px;
    display: flex;
    justify-content: center;
}

header div a{
    text-align: center;
    margin: auto 5px;
    text-decoration: none;
}

.div_cadeado {
    display: inherit;
    align-items: center;
    justify-content: flex-end;
    margin-right: 87px;
    font-size: 15px;
}

.cadeado {
    width: 5%; 
    margin-right: 5px;
 }

 footer {
    background-color: #194350;
    margin: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem 0;
}

.footer_link {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer_link h4, .footer_redes h4, .footer_app h4, .footer_pagamentos h4 {
    color: white;
    font-size: 1.5rem;
}

.footer_link a, .footer_redes a, .footer_app a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer_link a:hover, .footer_redes a:hover, .footer_app a:hover {
    color: blue;
    font-size: 1.2rem;
}

.footer_redes a {
    padding: 0 0.5rem;
}

.footer_app {
    display: flex;
    flex-direction: column;
}