@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(157, 190, 185, 1);
    font-family: 'Poppins', sans-serif;;
}

:root {
    font-size: 62.5%; /*equivale a 10px => (2.4rem equivale a 24px)*/
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #FF8882;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;

    position:fixed;
    top:0;
    align-items: center;
}

.logomarca img{
    width: 12rem;
    margin-left: 4rem;
}

header div{
    margin: auto 2rem;
}

header div input {
    padding: 1rem;
    border-radius: 1.2rem;
    border-color: white;   
    border: 0rem;
}

.div_busca input::placeholder {
    color: darkgray;   
}

.div_busca input:focus {
    outline-color:#FF8882;
}

header div a{
    text-align: center;
    margin: auto 0.5rem;
    text-decoration: none;
    color: black;
}

header div a:hover {
    color: blue;
}

.div_busca {
    margin-left: 8.5rem;
    font-size: 1.5rem;
}

.div_carrinho {
    display: inherit;
    align-items: center;
}

.div_carrinho a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    
}
.carrinho {
    padding-right: 1rem;
    width: 45%;
}


footer {
    background-color: #194350;
    margin: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2rem 0;
}

.footer_link {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer_link h4, .footer_redes h4, .footer_app h4, .footer_pagamentos h4 {
    color: white;
    font-size: 1.5rem;
}

.footer_link a, .footer_redes a, .footer_app a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer_link a:hover, .footer_redes a:hover, .footer_app a:hover {
    color: blue;
    font-size: 1.2rem;
}

.footer_redes a {
    padding: 0 0.5rem;
}

.footer_app {
    display: flex;
    flex-direction: column;
}

.novoProd {
    margin-top: 15rem;
    margin-left: 3rem;
}

.novoProd h1{
    font-weight: 600;
    font-size: 2.5rem;
}

.gridNovoProd {
    display: grid;
    grid-template-columns: minmax(50%, 1fr) minmax(32%, 1.45fr);
    gap: 2.4rem;
} 

.gridNovoProd label {
    font-size:1.5rem;

}

.primeiraColuna , .segundaColuna {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    font-size: 1.3rem;
    margin: 3rem;
}

.primeiraColuna input, .segundaColuna input {
    border-radius: 1.2rem;
    border-color: white;   
    border: 0rem;
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}

.descricaoProd {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin: 3rem;
    font-size:1.5rem;

}

.descricaoProd textarea {
    border-radius: 1.2rem;
    border-color: white;   
    border: 0rem;
    padding: 0.6rem;
    margin-bottom: 1.2rem;
}

.buttonEnviar {
    display: flex;
    justify-content: flex-end;
    margin-right: 10rem;
    margin-bottom: 4rem;
}

.buttonEnviar button {
    background-color: rgb(1, 135, 142);
    border-radius: 1rem;
    border: none;
    font-size: 1.7rem;
    padding: 1.5rem;
    color: white;
    width: 135px;
    height: 55px;
    font-weight: 600;
}