<header class="container">
        
    <a href="" class="logomarca"><img src="/img/logo/ArtPet&Cia.jpeg" alt="ArtPet&Cia"></a>

<div class="div_busca">
    <input type="search" size="50" placeholder="Barra de busca"></input>
    <a href="/loginCliente">Entre ou cadastre-se</a>
</div>

<div class="div_carrinho">
    <a href="/carrinho" target="_blank"><img class="carrinho" src="/img/icones/carrinhovazio.svg" alt="carrinho">Carrinho</a>
</div>
</header>