<header class="container">
    
    <a href="/" class="logomarca"><img src="/img/logo/ArtPet&Cia.jpeg" alt="ArtPet&Cia"></a>
            
    <div class="div_cadeado">
        <img class="cadeado" src="/img/icones/cadeado.png" alt="cadeado">
        Ambiente Seguro
    </div>
</header>