<header class="container">
    <img class="logomarca" src="img/logo/ArtPet&Cia.jpeg" alt="ArtPet&Cia">
            
    <div class="div_cadeado">
        <img class="cadeado" src="img/icones/cadeado.png" alt="cadeado">
        Ambiente Seguro
    </div>
</header>