<nav class="nav_texto container">
    <a href="">Cães</a>

    <a href="">Gatos</a>

    <a href="">Peixes</a>

    <a href="">Pássaros</a>

    <a href="">Outros Pets</a>

    <a href="">Acessórios</a>

</nav>